<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="SpecRun" />
    <plugins>
      <add name="SpecRun" />
    </plugins></specFlow>
  <appSettings>
    <add key="SELENIUM_DRIVER" value="Chrome" />
    <add key="ADMIN" value="http://iisprillcundqa1.prefirstcdn.com/Time-Portal/#/login" />
    <add key="ADMINUSER" value="jtallapaneni" />
    <add key="ADMINPASS" value="Password55" />
    <add key="ADMINTRANSACTIONID" value="18221066051" />
    <add key="PurchaseDealURN" value="18285075798" />
    <add key="SERVICEREQUEST" value="http://iisprillcundqa1.prefirstcdn.com" />
    <add key="SERVICEINTEGRATIONLOGIN" value="LawyerIntegrationGateway/v1/users/login" />
    <add key="INTEGRATIONLOGIN" value="http://iisprillcundqa1.prefirstcdn.com/LawyerIntegrationGateway/v1/users/login"/>
    <add key="INTEGRATIONSENDORDER" value="http://iisprillcundqa1.prefirstcdn.com/LawyerIntegrationGateway/v1/rs/orders/requests"/>
    <add key="PROC1" value="FocusURL.exe" />
    <add key="VERBOSE_MODE" value="OFF" />
    <add key="ERROR_EMAIL" value="mahmudautomateerror@gmail.com" />
    <add key="apikey" value="8mkR8HyDz7Vy8CBUhCEGPze0O6ZnOl0z" />
  </appSettings>
</configuration>